<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form>
  <div class="app-plate">

    <div class="course" [formGroup]="courseForm">
      <h3>Main Info</h3>
      
      
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input formControlName="title" type="text" id="title" placeholder="Input text" />
        <span *ngIf="!courseForm.get('title')?.valid&&courseForm.get('title')?.touched" id="titleErrorMessage" class="text-danger">Title is required.</span>
      </div>


      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea formControlName="description" id="description" name="description" placeholder="Input text" rows="4"
          cols="5"></textarea>
        <span *ngIf="!courseForm.get('description')?.valid&&courseForm.get('description')?.touched" id="descriptionErrorMessage" class="text-danger">Description is required.</span>
      </div>
      <div class="separator"></div>


      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `duration` for the form array.-->
          <input formControlName="duration" type="number" id="duration" placeholder="Input duration" />
          <div class="course__duration">
            ::Duration::
          </div>
        </div>
        <span *ngIf="!courseForm.get('duration')?.valid&&courseForm.get('duration')?.touched" id="durationErrorMessage" class="text-danger">Duration is required.</span>
      </div>



      <div class="separator"></div>

      <h3>Authors</h3>
      <div class="form__control" >
        <div class="course__flex">
         
          <!--Use the name `author` for the form control.-->
          <input formControlName="author" type="text" id="author" placeholder="Input Author Name" />
          <app-button id="createAuthor" buttonText="create author" (click)="addAuthorsHandler()"></app-button>
        </div>
        <span id="authorErrorMessage">New author should contain only latin letters and numbers.</span>
        <div class="course__authors"  formArrayName="authors" >
          <!-- formArrayName="authors" -->
          <!--Use the name `authors` for the form array.-->
          {{courseForm.value.authors}}
          
          ::Authors::
        </div>
      </div>

      <div class="form__action">
        <app-button buttonText="cancel"></app-button>
        <app-button buttonText="create course" (click) ="createCourseHandler()"></app-button>
      </div>
    </div>
  </div>
</form>

